# Flutter
.build/
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/Runner.xcworkspace/

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log
.env

# OS
.DS_Store
Thumbs.db
/frontend/linux/flutter/*.cmake
/frontend/windows/flutter/*.cmake
/backend/feedback.jsonl
/backend/training_data.jsonl
/backend/kanji_full.json
/passwords.txt
/backend/kanji_runtime.json
/backend/.env.local
